body {
    margin: 0 auto;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("images/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
}