body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Poor Story', cursive !important;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: block;
    background-image: url("images/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
}

.main {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 20px 0px;
}

.card {
    width: 450px;
    height: 800px;
    padding: 40px 24px 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    overflow: scroll;
}

/* @media (min-width: 375px) and (max-width: 412px) {
    .card {
        width: 300px;
        height: 800px;
        padding: 20px 12px 20px 12px;
    }
} */

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#plan {
    width: 100%;
}

.title {
    font-family: 'Dancing Script', cursive;
    margin: 0 auto;
    font-size: 65px;
}

.card lottie-player {
    width: 300px;
    height: 300px;
}


.card p {
    text-align: center;
}

.card p span {
    color: #f06c88;
}

.card-main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-main-description {
    font-size: 20px;
    margin: 0 auto;
}

.card-main-btn, .history-detail-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.card-main-btn button,
.history-detail-btn > button {
    height: 56px;

}

.btn-plan-now, #result-save-btn,
#delete-btn {
    background-color: #f06c88 !important;
    border: 0px !important;
}

.btn-plan-now:hover, #result-save-btn:hover,
#delete-btn:hover {
    background-color: #ef5979 !important;
    border: 0px !important;
}

.btn-plan-previous, #home-btn {
    background-color: #ee91a5 !important;
    border: 0px !important;
}

#close-btn {
    background-color: lightgray !important;
    border: 0px !important;
}

#close-btn:hover {
    background-color: rgb(228, 228, 228) !important;
}

.btn-plan-previous:hover, #home-btn:hover {
    background-color: #ec839a !important;
}

#result-save-btn, #home-btn {
    height: 56px;
}

.form-label {
    font-style: bold !important;
}

.card-plan-container {
    margin-top: 20px;
}

.date-start-container,
.date-end-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#plan {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#plan-content {
    flex-grow: 1
}

.date-end-container,
.date-transport-container
.form-check {
    margin-top: 10px;
}

.date-transport-container > div {
    margin-top: 10px;
}

#loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading lottie-player {
    flex-grow: 1;
    width: 150px;
    height: 150px;
}

#result {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#result div:nth-child(1){
    flex-grow: 1;
    margin-bottom: 20px;
}

#result div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#result div:nth-child(1) textarea {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: auto;
    
}

#history {
    width: 100%;
}

#history-appbar {
    display: flex;
    font-size: 30px;
    align-items: center;
}

#history-appbar > div {
    flex-grow : 1;
    text-align: center;
}

#history .card {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    display: flex;
    padding: 15px 15px;
    align-items: flex-start;
    box-shadow: 5px 5px 5px #ec839a;

}

#history .card:hover {
    background-color: rgba(211, 211, 211, 0.35);
}

#history-detail {
    width: 100%;
    height: 100%;
}

.history-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.history-detail-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 45px;
    border: 1px solid #eee;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: auto;
}

.history-detail-btn {
    display: flex;
    flex-direction: column;
}

.history-detail-question,
.history-detail-answer {
    border: 1px solid #eee;
    padding: 10px;
}

.history-detail-question {
    border-radius: 30px 30px 0 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.25);
    background-color: #eba0b0;
    color: white;
}

.history-detail-answer {
    border-radius: 0px 30px 30px 30px;
    box-shadow: -5px -5px 10px rgba(0,0,0,.25);
    background-color: whitesmoke;
    color: black;
}

footer {
    margin-top: 30px;
    color: white;
}

